body {
    background-color: #ca8f8f;
    font-family: "Segoe UI", Roboto, sans-serif;
    color: #333;
    line-height: 1.6;
}

header {
    display: flex;
    background: #4061db;
    color: #ebdede;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.6rem;
}

nav a {
    color: #ffff;
    text-decoration: none;
    font-size: large;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0dc216;
    text-decoration: underline;
}

header form {
    margin-left: 2rem;
}

header img {
    border-radius: 8px;
    width: 5%;
}

header input,
header button {

    padding: 0.5rem;
    border: none;
    border-radius: 4px;

}

header button {
    background-color: #0dc216;
}

header input {
    width: 250px;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
}

.about-container,
.skills-container,
.projects-container,
.contact-container {
    background-color: #eae7e7;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    font-family: "Segoe UI", Roboto, sans-serif;
    margin-bottom: 1rem;
    color: #050a1c;
}

h1 {
    font-size: 2rem;
    border-bottom: 2px solid #ca8f8f;
    display: inline-block;
    padding-bottom: 0.3rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

/* about container */
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.about-container img {
    flex: 0 0 0 30px;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

/* skills container */
.skills-container ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}

.skills-grid :hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #c4cae0;
    color: #fff;
    border-radius: 6px;
    padding: 0rem 0.5 rem;
}

.skills-card {
    background-color: #f4f4f4;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.skills-card dt {
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 2px solid #ca8f8f;
    display: inline-block;
    padding-bottom: 0.3rem;
    color: #1e3a8a;
    margin-bottom: 0.5rem;

}

.skills-card dd {
    margin: 0;
    color: #555;
    text-align: left;
    font-size: 1rem;
}

.skills-card :hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #ca8f8f;
    color: #fff;
}

/* projects container */
.projects-container {

    background-color: #eae7e7;
}

.projects-card article {
    background-color: #d2abab;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}


.projects-container a {
    color: #1e3a8a;
    font-weight: bold;
    text-decoration: none;
}

.projects-container a:hover {
    color: #facc15;
    text-decoration: underline;
}

.projects-container article:hover {
    transform: translateY(-5px);
}

/* contact container */
.contact-container {
    background-color: #eae7e7;
}

.contact-container form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.contact-container label {
    font-weight: bold;
    color: #1e3a8a;
    margin-top: 1rem;
}

.contact-container input,
.contact-container textarea {
    padding: 0.8rem;
    border: 1px solid #ccc;
    display: flex;

    width: 100%;
    border-radius: 6px;
}